.coc-panel-heading {
  background-color: white;
  border-radius: 2%;
  border: none;
  padding: 0.7em 1.25em;
}

.coc-panel-heading:first-child {
  border: none;
}

.coc-panel-block {
  background-color: white;
  border: none;
  border-radius: 2%;
  padding: 1.5em 1.25em;
}

.coc-panel-block-gap {
  margin-top: 2.5px;
}